.contact-page {
    .image-container {
        background: url(../images/background/contact_image.jpg);
        background-size: cover;
        background-position: bottom;
    }
}

.content-head {
    width: 59%;

    h2 {
        margin: 0px;
    }
}

.contact-form {
    float: none;
}

fieldset {
    border-width: 0px;
    margin-left: 50px;
    margin-right: 80px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #ffc300;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 2px;
    height: 40px;
    margin: 10px 0;
    padding: 5px 10px;
    background: #f5f5f5;
    width: 100%;
}

.contact-form textarea {
    height: 300px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    font-style: italic;
}

.contact-form input:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
    font-style: italic;
}

.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
    font-style: italic;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
    font-style: italic;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:hover,
.contact-form textarea:hover {
    box-shadow: 0px 0px 3px 0px #ffc300;
}

.contact-form button {
    background: none;
    border-radius: 2px;
    border: 1px solid #ffc300;
    color: #ffc300;
    margin: 10px 0;
    padding: 10px 25px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.contact-form button:hover {
    background: #ffc300;
    color: #fff;
}

.error,
.success {
    display: none;
}

.error h3,
.success h3 {
    border-radius: 2px;
    display: block;
    margin: 10px 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.error h3 {
    color: #c9302c;
    border: 1px solid #c9302c;
}

.success h3 {
    color: #449d44;
    border: 1px solid #449d44;
}

.google-map {
    width: 100%;
    border: 3px solid #ffc300;
}
