.edu-small-heading {
    width: 59%;
    text-align: center;
    margin: 0px;
    padding-top: 57px;
    padding-bottom: 40px;
}

.education {
    width: 59%;
}

.education-container {
    position: relative;
    margin-left: 80px;
    margin-right: 170px;
}

.education-container:before {
    background: #ffc300;
    content: "";
    height: 96%;
    left: 35px;
    position: absolute;
    top: 2%;
    width: 2px;
}

.item {
    position: relative;
    margin-bottom: 5px;
}

.education-container .bullet {
    background: #ffc300;
    border: 5px solid #f5f5f5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 21px;
    display: inline-block;
    position: relative;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: top;
}

.education-content {
    display: inline-block;
    padding: 0 15px;
    margin-left: 15px;
    width: 88%;
}

.education-content h3 {
    background: #ffc300;
    color: #fff;
    display: block;
    margin: 0;
    padding: 10px;
    position: relative;
}

.education-content h3:before {
    border-color: transparent #ffc300 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    position: absolute;
    right: 100%;
    top: 5px;
}

.education-content h3 span {
    font-size: 16px;
}

.education-content p {
    padding: 15px 5px;
}
