.exp-small-heading {
    width: 59%;
    text-align: center;
    margin: 0px;
    padding-top: 57px;
    padding-bottom: 40px;
    background: #ffc300;
    color: #fff;
}

.experience {
    background: #ffc300;
    width: 59%;
    padding-bottom: 10px;
}

.experience h2 {
    color: #fff;
}

.experience-container {
    position: relative;
    margin-left: 80px;
    margin-right: 170px;
}

.experience-container:before {
    background: #fff;
    content: "";
    height: 96%;
    right: 14px;
    position: absolute;
    top: 2%;
    width: 2px;
}

.experience-container .bullet {
    background: #fff;
    border: 5px solid #ffc300;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 0px;
    display: inline-block;
    position: absolute;
    vertical-align: top;
}

.experience-content {
    display: inline-block;
    padding: 0 15px;
    margin-left: 15px;
    width: 88%;
}

.experience-content h3 {
    background: #fff;
    color: #ffc300;
    display: block;
    margin: 0;
    line-height: 1.42;
    padding: 10px;
    position: relative;
}

.experience-content h3:before {
    border-color: transparent transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    position: absolute;
    left: 100%;
    top: 5px;
}

.experience-content h3 span {
    font-size: 16px;
}

.experience-content p {
    padding: 15px 5px;
    color: #fff;
}
