.footer {
    width: 59%;
    background: #ffc300;
    padding: 16px 10px 30px 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    float: left;
}
.footer p {
    line-height: 1;
    color: #fff;
    float: right;
    margin: 0px;
    padding-right: 40px;
}
