/* ( a ) Homepage */

.home-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    visibility: "hidden";
}

/* ( b ) Introduction Section */

.introduction {
    float: left;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.mask {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    background: #1a1b23;
}

.intro-content {
    position: relative;
    z-index: 10;
    top: 50%;
    opacity: 0.9;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
        color: #fff;
        text-align: center;
    }

    h2 {
        color: #fff;
        text-decoration: underline;
        text-align: center;
        font-weight: 300;
        font-size: 30px;
    }
}

.intro-content h1 span,
.main-heading h1 span {
    color: #ffc300;
}

a.social {
    margin: 0;
    transition: transform 250ms;
    display: inline-block;

    &:hover {
        transform: translateY(-2px);
    }
}

.social-media {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;

    a {
        color: #fff;
        text-decoration: none;
        outline: 0 none;
        padding: 0 10px;

        &:hover {
            color: #ffc300;
        }
    }
}

/* ( c ) Navigation Menu */

.menu {
    float: left;
    padding: 0;
    position: relative;
    width: 50%;
    height: 100%;

    .profile-btn,
    .resume-btn,
    .portfolio-btn,
    .contact-btn {
        width: 100%;
        height: 25%;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            -webkit-transition: -webkit-transform 1s linear;
            -moz-transition: -moz-transform 1s linear;
            -ms-transition: -ms-transform 1s linear;
            -o-transition: -o-transform 1s linear;
            transition: transform 1s linear;
        }

        &:hover {
            img {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
        }

        .heading {
            position: relative;
            top: 50%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 4rem;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);

            i {
                background: rgba(256, 256, 256, 0.2);
                border-radius: 50%;
                color: #fff;
                display: block;
                font-size: 25px;
                line-height: 60px;
                margin-left: 9rem;
                text-align: center;
                box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);
                width: 60px;
                height: 60px;
                -webkir-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            h2 {
                color: #fff;
                margin: 0;
                font-size: 25px;
                opacity: 0.9;
                text-align: left;

                span {
                    color: #ffc300;
                }
            }

            h3 {
                text-align: left;
                color: #fff;
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 16px;
                opacity: 0.9;
                font-style: italic;
                font-weight: 300;
            }
        }

        &:hover {
            .heading {
                i {
                    box-shadow: 0 0 0 50px rgba(256, 256, 256, 0);
                }
            }
        }
    }
}

.nav-link {
    text-decoration: none;
}

/*------------------
5 ) Close Button
------------------*/

.close-btn {
    background: url(../images/icon/close.png);
    z-index: 1000;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 3%;
    top: 30px;
    background-size: cover;
}
