.profile-page,
.resume-page,
.portfolio-page,
.contact-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.image-container {
    width: 41%;
    height: 100vh;
    position: fixed;
    padding: 0;
    overflow: hidden;
}

.main-heading {
    position: relative;
    top: 50%;
    padding-left: 50px;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);

    h1 {
        color: #fff;
        position: relative;
        text-align: left;
    }
    &:after {
        background-color: #ffc300;
        position: absolute;
        content: "";
        top: 100%;
        left: 30;
        width: 400px;
        height: 6px;
    }
}

.content-container {
    left: 41%;
    position: relative;
    padding: 0;
    background: #f5f5f5;
}

/*------------------
7 ) Profile Page
------------------*/

/* ( a ) Story of Glory */

.profile-page .image-container {
    background: url(../images/background/profile_image.jpg);
    background-size: cover;
    background-position: bottom;
}

.story {
    width: 59%;
    background: url(../images/background/story_bg.jpg);
    background-size: cover;
    min-height: 100vh;
    padding-top: 10px;
}

.story-content {
    padding: 20px;
    display: flex;
    padding-left: 80px;
    img {
        padding: 0;
        border: 1px solid #ffc300;
        width: 310px;
        height: 375px;
    }

    .story-text {
        margin-left: 2rem;

        p {
            padding-right: 30px;
        }

        h3 {
            color: #ffc300;
        }
    }

    a {
        border: 1px solid #ffc300;
        color: #ffc300;
        display: block;
        float: left;
        margin: 29px 5px;
        padding: 10px 25px;
        text-decoration: none;
        text-align: center;
        -webkir-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
            background: #ffc300;
            color: #fff;
        }
    }
}
