@media only screen and (max-width: 1200px) {
    .story-content img {
        width: 228px;
        height: 286px;
    }

    .service-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
        row-gap: 1rem;
    }

    .education,
    .experience {
        width: 100%;
    }

    .education-container,
    .experience-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    // .skills {
    //     width: 61%;
    //     grid-template-columns: repeat(1, 1fr);
    // }

    .portfolios {
        .buttons {
            display: block;
            margin: 0px;
            padding-bottom: 20px;
            margin: 3rem 0rem 0rem 0.4rem;
            .btn-port {
                padding: 10px 14px;
                margin-bottom: 1rem;
                font-size: 12px;
            }
        }
    }

    .port {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (max-width: 992px) {
    .intro-content {
        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 18px;
        }
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 27px;
    }

    .introduction {
        width: 100%;
        height: 50%;
    }

    .menu {
        width: 100%;
        height: 50%;
    }

    .close-btn {
        width: 30px;
        height: 30px;
        background: url("../images//icon/close.png");
        background-size: cover;
    }

    .image-container {
        height: 500px;
        position: relative;
        width: 100%;
    }

    .content-container {
        left: 0;
    }

    .main-heading {
        top: 50%;
        transform: translateY(-50%);
        h1 {
            font-size: 45px;
        }
        &:after {
            left: 50px;
            width: 400px;
            height: 5px;
        }
    }

    .story {
        width: 100%;
        min-height: 0px;
        // padding-top: 0px;

        h2 {
            font-size: 27px;
        }
    }

    .serviceContainer {
        width: 100%;

        .service-title {
            h2 {
                font-size: 18px;
            }
        }
        .service-grid {
            display: block;
        }
    }

    .facts {
        width: 100%;
        h1 {
            font-size: 36px;
        }
    }

    .footer {
        width: 100%;
        p {
            padding-right: 40px;
        }
    }

    .content-container {
        h2 {
            font-size: 26px;
        }
        .edu-small-heading {
            width: 100%;
        }
    }

    .education,
    .experience {
        width: 100%;
    }

    .skill-small-heading {
        width: 100%;
    }

    .skills {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .port-small-heading .small-heading {
        width: 100%;
    }

    .portfolios {
        width: 100%;
        .buttons {
            display: block;
            margin: 0px;
            padding-bottom: 20px;
            .btn-port {
                padding: 10px 14px;
                margin-bottom: 1rem;
                font-size: 12px;
            }
        }
    }

    .port {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;
        padding: 0px;
    }

    .content-head {
        width: 100%;
        fieldset {
            margin-left: 0px;
            margin-right: 35px;
        }
    }

    .google-map {
        height: 500px;
        width: 99%;
        iframe {
            width: 100%;
        }
    }

    .contact-details {
        width: 100%;
        .contact {
            display: block;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact-details .contact .contact-title {
        margin-top: 41px;
        margin-bottom: 40px;
    }

    .contact-form button {
        width: 100%;
    }

    .close-btn {
        width: 30px;
        height: 30px;
        background: url(../images/icon/close_sm.png);
        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
    .intro-content {
        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 18px;
        }
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 18px;
    }

    .introduction {
        width: 100%;
        height: 50%;
    }

    .menu {
        width: 100%;
        height: 50%;
    }

    .social-media {
        display: none !important;
    }

    .heading h3 {
        font-size: 13px;
    }

    .heading {
        i {
            display: none !important;
        }
    }

    .heading {
        .text {
            position: absolute;
            left: 8rem;
            top: -22px;
        }
    }

    .main-heading {
        h1 {
            font-size: 35px;
        }
        &:after {
            left: 50px;
            width: 250px;
            height: 3px;
        }
    }

    .story {
        width: 100%;
        padding-top: 0px;

        h2 {
            font-size: 18px;
        }
    }

    .image-container {
        height: 300px;
        width: 100%;
    }

    .story-content {
        display: block;
        padding-left: 54px;
        padding-bottom: 100px;

        .story-text {
            margin-left: 0px;
        }
        img {
            width: 83%;
            height: inherit;
            margin-left: 22px;
        }
    }

    .serviceContainer {
        width: 100%;

        .service-title {
            h2 {
                font-size: 18px;
            }
        }
        .service-grid {
            display: block;
        }
    }

    .facts {
        width: 100%;
        h1 {
            font-size: 36px;
        }
    }

    .footer {
        width: 100%;
        p {
            padding-right: 40px;
        }
    }

    .content-container {
        h2 {
            font-size: 26px;
        }
        .edu-small-heading {
            width: 100%;
        }
    }

    .education,
    .experience {
        width: 100%;
    }

    .bullet {
        display: none !important;
    }

    .education-container,
    .experience-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .education-container:before,
    .experience-container:before {
        display: none;
    }

    .education-content,
    .experience-content {
        margin-left: 0px;
    }

    .education-content h3,
    .experience-content h3 {
        text-align: center;
    }

    .education-content h3:before,
    .experience-content h3:before {
        display: none;
    }

    .skill-small-heading {
        width: 100%;
    }

    .skills {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .port-small-heading .small-heading {
        width: 100%;
    }

    .portfolios {
        width: 100%;
        .buttons {
            display: block;
            margin: 0px;
            .btn-port {
                padding: 10px 14px;
                margin-bottom: 1rem;
                font-size: 12px;
            }
        }
    }

    .port {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        padding: 0px;
    }

    .content-head {
        width: 100%;
        fieldset {
            margin-left: 0px;
            margin-right: 35px;
        }
    }

    .google-map {
        height: 500px;
        width: 99%;
        iframe {
            width: 100%;
        }
    }

    .contact-details {
        width: 100%;
        .contact {
            display: inline;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .contact-details .contact .contact-title {
        margin-top: 41px;
        margin-bottom: 40px;
    }

    .contact-form button {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .intro-content {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
    }

    .introduction {
        width: 100%;
        height: 50%;
    }

    .menu {
        width: 100%;
        height: 50%;
    }

    .heading {
        .text {
            position: absolute;
            left: 3rem;
            top: -22px;
            font-size: 20px;
        }
    }

    .main-heading {
        padding-left: 20px;
        h1 {
            font-size: 35px;
        }
        &:after {
            left: 20px;
            width: 250px;
            height: 3px;
        }
    }

    .image-container {
        height: 300px;
        width: 100%;
    }

    .story-content {
        display: block;
        padding-left: 23px;
        .story-text {
            margin-left: 0px;
        }
    }

    .story-content div a {
        display: block;
        float: none;
        margin: 5px;
    }

    .serviceContainer {
        width: 100%;
        .service-title {
            h2 {
                font-size: 18px;
            }
        }
        .service-grid {
            display: block;
        }
    }

    .facts {
        width: 100%;
        h1 {
            font-size: 36px;
        }
    }

    .footer {
        width: 91.25%;
        p {
            padding-right: 0px;
        }
    }

    .content-container {
        h2 {
            font-size: 18px;
        }
        .edu-small-heading {
            width: 100%;
        }
    }

    .education,
    .experience {
        width: 100%;
    }

    .bullet {
        display: none !important;
    }

    .skill-small-heading {
        width: 100%;
    }

    .skills {
        width: 100%;
        padding-left: 0px;
        grid-template-columns: repeat(1, 1fr);
        display: block;
        .skill {
            padding-right: 0px;
            .skill-container {
                margin: 30px;
            }
        }
    }

    .port-small-heading .small-heading {
        width: 100%;
    }

    .portfolios {
        width: 100%;
        .buttons {
            display: block;
            margin: 0px;
            .btn-port {
                padding: 10px 14px;
                margin-bottom: 1rem;
                font-size: 12px;
            }
        }
    }

    .port {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        padding: 0px;
    }

    .content-head {
        width: 100%;
        fieldset {
            margin-left: 0px;
            margin-right: 35px;
        }
    }

    .google-map {
        height: 500px;
        width: 99%;
        iframe {
            width: 100%;
        }
    }

    .contact-details {
        width: 100%;
        .contact {
            display: inline;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .contact-details .contact .contact-title {
        margin-top: 41px;
        margin-bottom: 40px;
    }

    .contact-form button {
        width: 100%;
    }
}
