.skill-small-heading {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 59%;
    text-align: center;
}

.skills {
    width: 59%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;
    padding-left: 100px;
    padding-bottom: 30px;
}

.skill {
    padding-right: 200px;
    .skill-container {
        .skill-title {
            font-size: 1.4rem;
            font-weight: 400;
            margin: 0px;
        }

        .skill-bar {
            display: flex;
            align-items: center;

            .skill-progress {
                width: 100%;
                .progress {
                    width: 100%;
                    height: 0.5rem;
                    background-color: #ffd0003a;
                    margin-left: 15px;
                    position: relative;

                    .inner-progress {
                        position: absolute;
                        height: 100%;
                        background-color: #ffc300;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
